@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>*@
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"> // DONE
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>*@
    </head>
<body>
    <!-- Contact form -->
    <div class="contact-form">
        <div class="container">
            <form>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">

                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 right">
                        <h1>Get in Touch</h1>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control form-control-lg">

         </textarea>
                        </div>
                        <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>